@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 17, 17;
  --background-end-rgb: 17, 17, 17;
  --background: #272627;
}

/* @media (prefers-color-scheme: dark) {} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}